.container{
  padding-top: 100px; 

}

.Skills{
 
 padding-top: 200px;
 padding-left: 300px;
 padding-bottom: 400px;  

}

#carouselExampleCaptions{
   height: 500px;
   width: 500px;
   margin: auto;
   
}

.resume{
 padding-top: 200px;
 padding-left: 300px;
   
}